<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="row">
			<div class="col-sm-12">
			
  			<div class="jumbotron">
          <h2>Your favourites</h2>
          <p>
            <% if (locals.error) { %>
              <p>Error: <%= error %></p>
            <% } %>
            <% if (locals.favourites && favourites.length > 0) { 
            %>
              <ul>
              <%for (var index in favourites){
              var favourite = favourites[index];
              %>
                <li><%=favourite["projectName"]%>: <%=favourite["jobName"]%> (ID: <%=favourite["jobID"]%>) <a href="#" onClick="deleteFavourite(<%=favourite['jobID']%>); return false;">Delete</a></li>
                <%}%>
              </ul>
            <% } else { %>
              <p>You have no favourites yet.</p>
            <% } %>
          </p>
  			</div>
				
			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>